alias bat=batcat
alias sau="sudo apt update -y && sudo apt upgrade -y"
alias ls="colorls --dark --gs"
alias nun="nvm use node"

source $HOME/.git_aliases

{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
alias mklink=" . mklink.sh"
alias shutdown="wsl.exe -t Ubuntu-20.04"
{{ end }}

{{- if lookPath "kitty" }}
alias icat="kitty +kitten icat"
alias d="kitty +kitten diff"
alias clip="kitty +kitten clipboard"
{{- end }}
