[user]
	email = {{ (vault "dotfiles/meta").data.data.email }} 
	name = {{ (vault "dotfiles/meta").data.data.name }} 
[includeIf "gitdir:job/"]
	path = .gitconfig-job
[core]
	editor = vim
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[alias]
	s = status
	d = diff
	co = checkout
	cob = checkout -b
	lg = log
	b = branch
	pd = push -u origin HEAD
	p = push
	pu = pull
	m = merge
