
[settings]
api_key = {{ gopass "tokens/wakatime" }}
status_bar_coding_activity = true
status_bar_enabled = true
hide_file_names = 
    {{ .chezmoi.homeDir }}/git/private
    {{ .chezmoi.homeDir }}/job
hide_project_names = 
    {{ .chezmoi.homeDir }}/git/private
    {{ .chezmoi.homeDir }}/job
