alias bat=batcat
alias ls="colorls --dark --gs"
alias nun="nvm use node"
alias tk=take
alias ff='find . -name $1':`

source $HOME/.aliases/.git_aliases
source $HOME/.aliases/.apt
source $HOME/.aliases/.chezmoi


{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
alias mklink=" . mklink.sh"
alias shutdown="wsl.exe -t Ubuntu-20.04"
{{ end }}

{{- if lookPath "kitty" }}
alias icat="kitty +kitten icat"
alias d="kitty +kitten diff"
alias clip="kitty +kitten clipboard"
{{- end }}
